spring:
  jackson:
    serialization:
      indent-output: true
  config:
    import: classpath:common.yml
  application:
    name: notification-service
server:
  port: 8085
eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_SERVER:http://localhost:8761/eureka}

